.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-Body {
  height:100vh;
  background-image: url("./Style/bg.jpg");
}
.App-link {
  color: #09d3ac;
}

.tutorForm {
  width: 60%;
  height:35px;
  border-radius: 4px;
}

#Form {
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
}

.formNames {
  float: left;
  margin-left: 40px;
  font-size: 25px;
}
.tutorForm {
  width: 100%;
  line-height: 45%;
  padding:5px;
  margin:15px;
  border-width: 0px;
  border-bottom-width: 1px;
  font-size:30px;

}

.tutorForm:hover {
  border-bottom-width: 2px;
  outline:none;
  border-radius:0px;
  border-bottom-color: blue;
}

.tutorForm:focus {
  border-bottom-width: 2px;
  outline:none;
  border-radius:0px;
  border-bottom-color: rgb(66, 66, 248);
}

.tutorForm::placeholder {
  font-size: 25px;
}

#tutorTitle {
  font-size:50px;
}

#submit {
  width:16%;
  height:30px;
  border-radius: 6px;
  background-color: white;
  font-size: 20px;
  float: left;
  margin-left:15px;
  border-color: black;
}

.stream {
  margin: 0 auto;
  
}
#scriptId {
  margin: 0 auto;
  height:100vh;
  width:80vw
}